body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* background:   url(../Screenshot\ 2024-01-17\ 213909.png); */
    /* display: flex;
    justify-content: center; */
    align-items: center;
    height: 100vh;
}
h5{
    text-align: center;
}

.signup-container,
.login-container {
    /* background-color: white; */
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 10px;
    margin-left: 50px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}
